/* Banner Styling */
.banner {
  position: relative;
  width: 100%;
  height: 75vh; /* Full height of the viewport */
  background-image: url("../assets/Website-Banner.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: flex-start; /* Text remains on the left */
  padding: 0;
  margin: 0;
  z-index: 1; /* Ensure the banner stays above other content */
  overflow: hidden;
  margin-top: 100px;
}

.enroll-now {
  position: fixed;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  z-index: 1000;
  height: 100px; /* Set the height for the container */
  width: auto;
  padding: 5px;
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.enroll-now img {
  height: 150px; /* Set image height to fill the container */
  width: auto; /* Maintain the aspect ratio */
  object-fit: contain; /* Ensure the image scales without distortion */
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Hover Effect */
.enroll-now img:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .banner {
    height: 50vh;
    margin-top: 100px;
  }

  .banner-left {
    max-width: 60%;
    left: 5%;
  }

  .enroll-now {
    right: 0px; /* Keep it close to right */
    top: 40%; /* Align to top-right */
    width: 70px; /* Resize for tablet */
  }
  .enroll-now img {
    height: 120px; /* Set image height to fill the container */
  }
}

@media (max-width: 768px) {
  .banner {
    height: 50vh;
    padding-left: 5%;
    margin-top: 100px;
    justify-content: flex-start;
  }

  .banner-left {
    max-width: 70%;
    left: 0;
    padding: 20px;
  }

  .enroll-now {
    right: 0; /* Keep it close to right */
    top: 40%; /* Align to top-right */
    width: 60px; /* Resize for mobile */
  }
  .enroll-now img {
    height: 100px; /* Set image height to fill the container */
  }
}

@media (max-width: 576px) {
  .banner {
    height: 15vh;
    padding-left: 5%;
    margin-top: 100px;
    justify-content: flex-start;
  }

  .banner-left {
    max-width: 60%;
    left: 0;
    padding: 15px;
  }

  .enroll-now {
    right: 0; /* Keep it close to right */
    top: 40%; /* Align to top-right */
    width: 60px; /* Resize for mobile */
  }
  .enroll-now img {
    height: 100px; /* Set image height to fill the container */
  }
}

@media (max-width: 350px) {
  .banner {
    height: 20vh;
    margin-top: 100px;
  }

  .banner-left {
    width: 90%;
    padding: 10px;
  }

  /* Adjust enroll button for very small screens */
  .enroll-now {
    right: 0; /* Keep it close to right */
    top: 40%; /* Align to top-right */
    width: 60px; /* Resize for mobile */
  }
  .enroll-now img {
    height: 100px; /* Set image height to fill the container */
  }
}
