

@keyframes zoomIn {
    from {
      transform: scale(0); 
      opacity: 0;          
    }
    to {
      transform: scale(1); 
      opacity: 1;          
    }
  }


.enroll-now {
  position: fixed;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  z-index: 1000;
  height: 100px; /* Set the height for the container */
  width: auto;
  padding: 5px;
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: zoomIn 0.7s ease-in-out forwards; 
}

.enroll-now img {
  height: 150px; /* Set image height to fill the container */
  width: auto; /* Maintain the aspect ratio */
  object-fit: contain; /* Ensure the image scales without distortion */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.banner-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Optional: height restriction for different screens */
@media (max-width: 768px) {
  .banner-img {
    /* height: 200px; */
  }
}

@media (max-width: 480px) {
  .banner-img {
    /* height: 150px; */
  }
}

