.information-content {
    width: 100%;
    background: linear-gradient(180deg, #fff 15%, #E4F0FF 85%) !important;
    min-height: 100vh; /* Ensures gradient covers the viewport height */
    height: auto;
    row-gap: 3px !important; 
    padding: 40px 150px !important; 
    box-sizing: border-box !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .information-content {
        padding: 40px 60px !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .information-content {
        padding: 30px 30px !important;
    }
}

/* Mobile Devices */
@media screen and (max-width: 575px) {
    .information-content {
        padding: 20px 10px !important;
    }
}