/* EducationSection.css */
.education-section {
  background: url("../../assets/bg.svg");
  background-size: cover;
  background-position: center;
}

.text-section h1 {
  color: #0f2239;
}

.features {
  margin-top: 20px;
}

.feature-card .card-body {
    display: flex;
    align-items: center;
    gap: 30px;
}

.features .mb-3 {
    display: flex;
}

.feature-card {
  border: none;
  background: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.feature-card .icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-card .card-title {
  color: #0f2239;
  font-size: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .text-section {
    text-align: center;
  }
}
